language: php
git:
  depth: 3
php:
  - 7.3
  - 7.4
  - 8.0

before_script:
  - composer self-update

install:
  - composer install

script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover tests
